<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
   
      <link rel="stylesheet" href="../static/index.css">
  
    <title>title</title>
  </head>
  <body>
    <div class="error">  

      <h2 class="error404">404 error: Page not found</h2>
      <h3 class="errorlost">It seems that you got lost, but we are here to help</h3>
      <p class="errorpage"> The page that you are looking for doesn’t exist. You may have accidentally mistype the page address, or followed an expired link. Anyway, we will help you get back on track. Why don’t you try one of these pages for starters</p>
    </div>
  </body>
</html>