
h3{
    text-align: center;
}

.myButton{
    display: inline-block;
}

.centerContent{
    width:80%;
    margin:0 auto;
}
.optionsRoom{
    float: left;
}
.centerButtons{
    width: fit-content;
    margin:0 auto;
}
.myVideo{
    display: block;
    margin: 0 auto;
    width: 640px;
    height: 480px;
}